<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Michel Meyer">

    <title>{{ site.name }} - {{ page.title }}</title>

    {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
    {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}


    <!-- Bootstrap core CSS -->
    <link href="{{relative}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{relative}}assets/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{relative}}assets/ie/html5shiv.js"></script>
      <script src="{{relative}}assets/ie/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>

    <div class="container">
        <a id="forkme_banner" href="https://github.com/trobz/openerp-booking-chart">View on GitHub</a>
    </div>      
    
    
    {% include nav.html %}
    
    <div class="container">
          
      